# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Uray,RU,60.1247,64.7758,46.99,91,56,5.57,broken clouds
1,1,Vanimo,PG,-2.6741,141.3028,77.07,90,99,5.08,overcast clouds
2,2,Caravelas,BR,-17.7125,-39.2481,79.75,64,97,13.02,overcast clouds
3,3,Loreto,MX,22.2667,-101.9667,71.15,44,23,5.30,few clouds
4,4,Saskylakh,RU,71.9167,114.0833,21.52,96,100,4.23,light snow

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vanimo,PG,-2.6741,141.3028,77.07,90,99,5.08,overcast clouds
2,2,Caravelas,BR,-17.7125,-39.2481,79.75,64,97,13.02,overcast clouds
5,5,Hilo,US,19.7297,-155.0900,87.28,67,20,5.01,few clouds
12,12,Tingo Maria,PE,-9.2895,-76.0088,89.91,55,20,6.91,few clouds
16,16,Sur,OM,22.5667,59.5289,79.43,73,0,10.20,clear sky
17,17,Marrakesh,MA,31.6315,-8.0083,87.87,22,0,4.61,clear sky
26,26,Sunland Park,US,31.7965,-106.5800,78.91,41,0,3.00,clear sky
28,28,Brownsville,US,25.9018,-97.4975,87.80,54,75,8.05,broken clouds
30,30,Gaozhou,CN,21.9392,110.8461,75.33,96,6,2.51,clear sky
33,33,Kapaa,US,22.0752,-159.3190,81.10,77,75,14.97,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vanimo,PG,-2.6741,141.3028,77.07,90,99,5.08,overcast clouds
2,2,Caravelas,BR,-17.7125,-39.2481,79.75,64,97,13.02,overcast clouds
5,5,Hilo,US,19.7297,-155.0900,87.28,67,20,5.01,few clouds
12,12,Tingo Maria,PE,-9.2895,-76.0088,89.91,55,20,6.91,few clouds
16,16,Sur,OM,22.5667,59.5289,79.43,73,0,10.20,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [10]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat       Lng
1        Vanimo      PG     77.07     overcast clouds  -2.6741  141.3028
2     Caravelas      BR     79.75     overcast clouds -17.7125  -39.2481
5          Hilo      US     87.28          few clouds  19.7297 -155.0900
12  Tingo Maria      PE     89.91          few clouds  -9.2895  -76.0088
16          Sur      OM     79.43           clear sky  22.5667   59.5289

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [11]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vanimo,PG,77.07,overcast clouds,-2.6741,141.3028,
2,Caravelas,BR,79.75,overcast clouds,-17.7125,-39.2481,
5,Hilo,US,87.28,few clouds,19.7297,-155.0900,
12,Tingo Maria,PE,89.91,few clouds,-9.2895,-76.0088,
16,Sur,OM,79.43,clear sky,22.5667,59.5289,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [12]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [13]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# Display sample data
hotel_df.head(100)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vanimo,PG,77.07,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
2,Caravelas,BR,79.75,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
5,Hilo,US,87.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Tingo Maria,PE,89.91,few clouds,-9.2895,-76.0088,Hospedaje Paraíso
16,Sur,OM,79.43,clear sky,22.5667,59.5289,Sur Plaza Hotel
...,...,...,...,...,...,...,...
299,Maragogi,BR,78.62,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
304,Roswell,US,76.86,few clouds,34.0232,-84.3616,La Quinta Inn & Suites by Wyndham Atlanta Roswell
307,Mapiri,BO,83.98,overcast clouds,-15.2500,-68.1667,
319,Howard Springs,AU,76.91,broken clouds,-12.4970,131.0470,buffalo beach hostel
321,Luebo,CD,76.10,light rain,-5.3500,21.4167,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [31]:
# Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
clean_hotel_df = hotel_df

clean_hotel_df.replace("", nan_value, inplace=True)
clean_hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

# Display sample data
clean_hotel_df.head(100)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vanimo,PG,77.07,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
2,Caravelas,BR,79.75,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
5,Hilo,US,87.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Tingo Maria,PE,89.91,few clouds,-9.2895,-76.0088,Hospedaje Paraíso
16,Sur,OM,79.43,clear sky,22.5667,59.5289,Sur Plaza Hotel
...,...,...,...,...,...,...,...
322,Kilindoni,TZ,76.03,clear sky,-7.9139,39.6668,Bustani B&B
329,Shingu,JP,76.05,broken clouds,33.7333,135.9833,Shingu UI Hotel
330,Road Town,VG,87.89,few clouds,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
334,Hirara,JP,81.50,clear sky,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
341,Bubaque,GW,81.68,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [33]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [34]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [35]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Vahmoneh Lodge Vanimo</dd>\n<dt>City</dt><dd>Vanimo</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada dos Navegantes</dd>\n<dt>City</dt><dd>Caravelas</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 87.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospedaje Paraíso</dd>\n<dt>City</dt><dd>Tingo Maria</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>few clouds and 89.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sur Plaza Hotel</dd>\n<dt>City</dt><dd>Sur</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Les Jardins de La Koutoubia</dd>\n<dt>City</dt><dd>Marrakesh</dd>\n<dt>Country</dt><dd>MA</dd>\n<dt>Current Weather</dt><dd>clear sky and 87.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SpringHill Suites by Marriott El Paso</dd>\n<dt>City</dt><dd>Sunland Park</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Hotel Plaza Matamoros</dd>\n<dt>City</dt><dd>Brownsville</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 87.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>望江楼旅业</dd>\n<dt>City</dt><dd>Gaozhou</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.1 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [36]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   -2.6741  141.3028
2  -17.7125  -39.2481
5   19.7297 -155.0900
12  -9.2895  -76.0088
16  22.5667   59.5289
17  31.6315   -8.0083
26  31.7965 -106.5800
28  25.9018  -97.4975
30  21.9392  110.8461
33  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [40]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Call the figure to plot the data.
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))